<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test case suite e-commerce application">
    <listeners>
      <listener class-name = "QKART_TESTNG.ListenerClass"></listener>
    </listeners>
      <test name = "Test case execution on Chrome browser">
            <parameter name="username" value="testUser" />
            <parameter name="password" value="abc@123" />
            <parameter name="Tusername" value="testUser" />
            <parameter name="Tpassword" value="abc@123" />
            <parameter name="product" value="YONEX" />
            <parameter name="product1" value="Running Shoes" />
            <parameter name="products1" value="YONEX Smash Badminton Racquet" />
            <parameter name="products2" value="Tan Leatherette Weekender Duffle" />
            <parameter name="address" value="Addr line 1 addr Line 2 addr line 3" />
            <parameter name="productt1" value="Xtend Smart Watch" />
            <parameter name="productt2" value="Yarine Floor Lamp" />
            <parameter name="productts" value="Stylecon 9 Seater RHS Sofa Set " />
            <parameter name="QTY" value="60" />
            <parameter name="user" value="crio user" />
            <parameter name="gmail_id" value="criouser@gmail.com" />
            <parameter name="message" value="Testing the contact us page" />
            <parameter name="productY" value="YONEX Smash Badminton Racquet" />
            <parameter name="addresses" value="Addr line 1 addr Line 2 addr line 3" />
              <groups>
                <run>
                  <include name="Sanity"></include>
                  <include name="Regression"></include>
                </run>
              </groups>
          <classes>
              <class name="QKART_TESTNG.QKART_Tests">
                <methods>
                  <include name="TestCase01"></include>
                  <include name="TestCase02"></include>
                  <include name="TestCase03"></include>
                  <include name="TestCase05"></include>
                  <include name="TestCase07"></include>
                  <include name="TestCase11"></include>
                  <include name="TestCase04"></include>
                  <include name="TestCase06"></include>
                  <include name="TestCase08"></include>
                  <include name="TestCase09"></include>
                  <include name="TestCase10"></include>
                </methods>
              </class>
          </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
